@import './font.scss';
page {
  height: 100%;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  font-size: 14px;
  background: $color-yellow;
}

.page {
  height: 100%;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  background: $color-yellow;
}

.link {
  color: $color-link;
}

.more-dot {
  position: absolute;
  padding: 0 10rpx;
  right: 4rpx;
  top: 4rpx;
  height: 50rpx;
  font-size: 38rpx;
  border-radius: $border-radius-base;
  color: #999;
  background: rgba($color: #ddd, $alpha: 0.3);
}

.ad300 {
  margin: 0 auto;
  width: 300px;
}

.more {
  color: #999;
}

.deco {
  position: absolute;
  // top: 50%;
  width: 68rpx;
  height: 68rpx;
  // transform: translate(0, -50%);
  opacity: 0.1;
}

.card,
.card2,
.card-primary,
.card-primary2 {
  padding: 20rpx;
  border-radius: $border-radius-base;
  background: #fff;
}

.card2,
.card-primary2 {
  border-radius: $border-radius-base * 2;
}

.card-primary,
.card-primary2 {
  background: $color-yellow;
}

.sticky-header {
  position: relative;
  margin: 0 0 20rpx;
  padding: 0 20rpx 20rpx;
  background: #fff;
  box-shadow: 0 3px 3px $bg-base;
  z-index: 9;
}

// 详情页样式
.page-detail-avatar {
  width: 100rpx;
  height: 100rpx;
}
.page-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 36rpx 0 20rpx;
}

.page-detail-main {
  padding: 0 36rpx;
}

.page-detail-desc {
  margin: 30rpx 0;
  padding: 20rpx;
  border-radius: $border-radius-base;
  background: $bg-base;
}
.page-detail-title {
  padding: 20rpx 0;
  border-bottom: 2px dashed $color-yellow;
}
.page-detail-item {
  margin: 30rpx 0 10rpx;
}

.page-detail-sec-title {
  margin: 38rpx 0 28rpx;
  height: 52rpx;
  line-height: 52rpx;
  text-align: center;
  color: #fff;
  background: url(/static/bg-title.png) no-repeat center center;
  background-size: contain;
}

.nodata {
  padding: 28rpx 0;
  color: #999;
  text-align: center;
  font-size: 12px;
}

.navigator-hover {
  background: transparent;
}

view {
  box-sizing: border-box;
}

.line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fr {
  float: right;
}

.oa {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.bc {
  margin: 0 auto;
}
.rel {
  position: relative;
}
.abs,
.abs-full,
.abs-hvc,
.abs-hc,
.abs-vc {
  position: absolute;
}

.abs-hvc {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.abs-hc {
  left: 50%;
  transform: translate(-50%, 0);
}
.abs-vc {
  top: 50%;
  transform: translate(0, -50%);
}

.fixed {
  position: fixed;
}

.abs-full {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.oh {
  overflow: hidden;
}

.white {
  color: #fff;
}

.box {
  margin: 20rpx 0;
  padding: 20rpx;
  background: #fff;
}

.bg-white {
  background: #fff;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-norepeat {
  background-repeat: no-repeat;
}

.bg-center {
  background-position: center;
}

.db {
  display: block;
}
.dib {
  display: inline-block;
}

.fwb {
  font-weight: bold;
}

.gray6 {
  color: #666;
}

.gray9 {
  color: #999;
}

.flex,
.flex-wrap {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fs10 {
  font-size: 10px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}

.vm {
  vertical-align: middle;
}

.fs14 {
  font-size: 14px;
}

.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.full,
.full-w {
  width: 100%;
}
.full,
.full-h {
  height: 100% !important;
}

.flex-dir-v {
  display: flex;
  flex-direction: column;
}

.flex-c,
.flex-hc {
  display: flex;
  justify-content: center;
}

.flex-vt {
  align-items: flex-start;
}

.flex-vc,
.flex-c {
  display: flex;
  align-items: center;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex1 {
  flex-grow: 1;
  flex-shrink: 1;
}
.flex0 {
  flex-grow: 0;
  flex-shrink: 0;
}

.icon-vc {
  margin: -3px 0 0;
}

.ml0 {
  margin-left: 0;
}
.ml1,
.mh1 {
  margin-left: 5rpx;
}
.ml2,
.mh2 {
  margin-left: 10rpx;
}
.pl1,
.ph1 {
  padding-left: 5rpx;
}
.pl2,
.ph2 {
  padding-left: 10rpx;
}
.pl4,
.ph4,
.p4 {
  padding-left: 20rpx;
}
.mr1,
.mh1 {
  margin-right: 5rpx;
}
.mr2,
.mh2 {
  margin-right: 10rpx;
}
.pr1,
.ph1 {
  padding-right: 5rpx;
}
.pr2,
.ph2 {
  padding-right: 10rpx;
}
.pr4,
.ph4,
.p4 {
  padding-right: 20rpx;
}
.mt1,
.mv1 {
  margin-top: 5rpx;
}
.mt8 {
  margin-top: 40rpx;
}
.mb1,
.mv1 {
  margin-bottom: 5rpx;
}
.mt2,
.mv2 {
  margin-top: 10rpx;
}
.mt4,
.mv4 {
  margin-top: 20rpx;
}
.mb2,
.mv2 {
  margin-bottom: 10rpx;
}
.mb4,
.mv4 {
  margin-bottom: 20rpx;
}
.pt1,
.pv1 {
  padding-top: 5rpx;
}
.pb1,
.pv1 {
  padding-bottom: 5rpx;
}
.pt2,
.pv2 {
  padding-top: 10rpx;
}
.pb2,
.pv2 {
  padding-bottom: 10rpx;
}
.pt4,
.pv4,
.p4 {
  padding-top: 20rpx;
}
.pb4,
.pv4,
.p4 {
  padding-bottom: 20rpx;
}
