.simple-list {
  padding: 100rpx 20rpx 30rpx;
  height: 100vh;
}

.scroll-list {
  height: 100%;
}

.search-area,
.filter-area {
  position: absolute;
  left: 20rpx;
  top: 20rpx;
  right: 20rpx;
  height: 100rpx;
}

.equip-slot {
  width: 30rpx;
  height: 30rpx;
}

.item {
  margin: 0 0 20rpx;
  padding: 15rpx;
  border-radius: 10rpx;
  border: 2px solid transparent;
  background: #f5f0e3;
}
.item.selected {
  border-color: #fe7634;
}

.item-icon {
  margin: 0 10rpx 0 0;
  width: 40rpx;
  height: 40rpx;
  padding: 4rpx;
  border-radius: 5rpx;
  background: #fff;
}

.list-icon {
  position: absolute;
  right: 10rpx;
  bottom: 10rpx;
  width: 200rpx;
  z-index: 9;
  pointer-events: none;
  opacity: 0.1;
}
